
.banner {
  background-size: cover;
  height: 100vh;
  background-image: url("../images/011.jpg");

  &.item_2 {
    background-image: url("../images/012.jpg");
  }

  &.item_3 {
    background-image: url("../images/013.jpg");
  }

  &.item_4 {
    background-image: url("../images/014.jpg");
  }
}
